<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nivelle.spring.springboot.mapper.SysUserRoleMapper" >

    <resultMap id="BaseResultMap" type="com.nivelle.spring.springboot.entity.SystemUserRoleEntity" >
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    
    <select id="getSytemUserRoleByUid" resultMap="BaseResultMap">
        select * from sys_user_role where uid= #{uid}
    </select>



</mapper>